body {
    background-color: #D6D6D6;
    font-family: "OpenSans", sans-serif;
    font-size: 1.5em;
}

h1 {
    font-size: 1.5em;
}

#footer {
    font-family: "Courier New", monospace;
    font-size: 0.5em;
	
}
#menu{
}
