<!doctype html>
{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <h1> About </h1>
    <p> {{ content }} </p>
{% endblock %}
