<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - WEATHERPI</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <p>
          Return to <a href="/">main</a>.
          <a href="http://github.com/nonator/weatherpi/">View source</a>.
      </p>
      {% endblock %}
    </div>
  </body>
</html>
